<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Task</title>
</head>
<body>
<h1>Add Task</h1>
<form th:action="@{/add}" action="/add" th:object="${task}" method="post">
  <div>
    <label for="name">Task name:</label>
    <input type="number" id="id" th:field="${task.id}">
    <input type="text" id="name" th:field="${task.name}">
    <input type="checkbox" id="complete" th:field="${task.complete}">
<!--    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">guh</span>-->
  </div>
  <button type="submit">Add Task</button>
</form>
</body>
</html>
